<div id="appComponent">
  <h1>{{title}}</h1>
  <div [ngSwitch]="captain?.location">
    <start *ngSwitchCase="'start'" [captain]="captain" (startGame)="startGame($event)"></start>
    <div *ngSwitchDefault>No captian location???</div>
  </div>   

  Captain Name: {{captain.name}}
  Captain Location: {{captain.location}}


  <!-- 
  <start [captain]="captain" (startGame)="startGame($event)"></start>

    TIS IS A TEST. currentViews.length: {{currentViews.length}}
    <div *ngFor="let view of currentViews">
      View: {{view}}
    </div> 

    div [ngSwitch]="captain.location">
    <div *ngSwitchCase="'start'">
      <h2>Welcome!</h2>
      <p>You have started trading in your home space port, orbiting around the planet PLANET. You can trade in any space port, but in your home space port, you have access to credit and a small warehouse. I am going to go out on a limb and say that 80% of the time is is about asking the question in the right way.</p>
      <h2>Start</h2>
      <table>
        <tr><td>Name</td><td><input type="text" [(ngModel)]="captain.name"></td></tr>
        <tr><td>Credits</td><td><input [(ngModel)]="captain.credits"></td>
      </table>
      <input type="button" value="Start" (click)="setLocalStorage(game)">
    </div> <!-- switch location is start -- >
    <div *ngSwitchCase="homePort">
      <h2>Home Port</h2>
    </div>
    <div *ngSwitchCase="'port'">
      <h2>Space Port</h2>
    </div>
    <div *ngSwitchCase="'space'">
      <h2>In Space</h2>
    </div>
    <div *ngSwitchCase="'pirates'">
      <h2>Space Pirates!!!</h2>
    </div>
  </div> <!-- ngSwitch -->
  <div id="builtBy">Built by Shannon Ware in Ireland.</div>
</div>