#appComponent { width: 256px; border: 2px solid blue; border-radius: 8px ; color: #0080ff;}
h1 { text-align: center; border-bottom: 1px solid blue;}
#builtBy { width: 100%;  border-top: 1px solid blue; text-align: center;}
.admin { background-color: black; color: orange; font-size: 0.6em; }