    <div>
      <h2>Space Port {{port.name}}</h2>
      <div [ngSwitch]="view">
        <div *ngSwitchCase="'welcome'">
          <p>{{port.description}}</p>
          <img id="spaceStation" src='assets/space-station.svg'>

        </div>
        <div *ngSwitchCase="'trade'">
          <h3>Local Prices</h3>
          <table>
            <tr *ngFor="let com of commodities">
              <td>{{com.name}}</td><td>{{com.basePrice}}</td>
            </tr>
          </table>

        </div>
        <div *ngSwitchCase="'leave'">
          <h3>Select A Destination</h3>
          <ul>
            <li *ngFor="let port of ports" (click)="setDestination(port)">{{port.name}}</li>
          </ul>
          <input type="button" value="Depart" class="wide" (click)="view='depart'">
        </div>
        <div *ngSwitchCase="'depart'">
          <h3>Departing for {{captain.destination.name}}</h3>
          <p>Disengaging support couplings... Engaging thrusters...</p>
          <img src='assets/rocket-ship.svg'>
          <input type="button" value="Engage Hyperdrive" class="wide" (click)="emitTravel()">
        </div>
      </div>
      <div *ngIf="view != 'departing'">
        <input type="button" value="Trade" (click)="view='trade'">
        <input type="button" value="Leave" (click)="view='leave'">
        <input type="button" value="Repair" disabled>
        <!-- input type="button" value="Restart" (click)="emitRestart()" -->
      </div>
    </div>