    <div>
      <h2>Space Port {{port.name}}</h2>
      <div [ngSwitch]="view">
        <div *ngSwitchCase="'welcome'">
          <p>{{port.description}} 
            <span *ngIf="port.surplus">Surplus: {{port.surplus.name}}</span>
            <span *ngIf="port.deficits">Deficits: {{port.surplus.name}}
              <span *ngFor="let com of port.deficits">{{com.name}} </span>
            </span>
          </p>
          <img id="spaceStation" src='assets/space-station.svg'>

        </div>
        <div *ngSwitchCase="'trade'">
          <h3>Buy < Local Prices > Sell</h3>
          <table>
            <tr *ngFor="let com of commodities; let i = index">
              <td><input type="button" value="{{port.bprices[i]}}" (mousedown)="startBuy(i)" (mouseup)="stopBuy()"></td>
              <td>{{com.name}}</td>
              <td><input type="button" value="{{port.sprices[i]}}"></td>
            </tr>
          </table>

        </div>
        <div *ngSwitchCase="'leave'">
          <h3>Select A Destination</h3>
          <ul>
            <li *ngFor="let port of ports" (click)="setDestination(port)">{{port.name}}</li>
          </ul>
          <input type="button" value="Depart" class="wide" (click)="view='depart'">
        </div>
        <div *ngSwitchCase="'depart'">
          <h3>Departing for {{captain.destination.name}}</h3>
          <p>Disengaging support couplings... Engaging thrusters...</p>
          <img src='assets/rocket-ship.svg'>
          <input type="button" value="Engage Hyperdrive" class="wide" (click)="emitTravel()">
        </div>
      </div>
      <div *ngIf="view != 'departing'">
        <input type="button" value="Trade" (click)="view='trade'">
        <input type="button" value="Leave" (click)="view='leave'">
        <input type="button" value="Repair" disabled>
        <!-- input type="button" value="Restart" (click)="emitRestart()" -->
      </div>
    </div>