@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|VT323');
body { background-color: black; color: white; font-family: "VT323", sans-serif; font-size: 16px;}
h1, h2, h3 { font-family: "Share Tech Mono", mono-space; }
h1 { margin: 4px 0px; }
h2, h3 { margin: 4px; }
canvas { z-index: -50; position: fixed; top: 0; left: 0; width: 100%; height: 100%; /* border: 1px solid red; */ }
input { background: none; color: white; font-family: "Share Tech Mono", mono-space; border: 2px solid white; border-radius: 2px; font-size: 1.2em; }
input:disabled { color: grey; }
input:hover { background-color: grange; }
.wide { width: 100%; }
ul { list-style-type: none; margin: 0; padding: 0; }
li { margin: 2px; padding: 4px; text-align: center; }