@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|VT323');
body { background-color: black; color: white; font-family: "VT323", sans-serif; }
h1, h2, h3 { font-family: "Share Tech Mono", mono-space; }